Flask
gunicorn
google-cloud-storage
pymssql


g2pkk
google-api-core
google-auth
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-speech
google-crc32c
google-resumable-media
googleapis-common-protos
grpc-google-iam-v1
grpcio
grpcio-status
gruut
gruut-ipa
gruut-lang-de
gruut-lang-en


